$basicPadding: 10px;

.btn {
  padding: ($basicPadding +20) 40px;
  border: none;
  background-color: aquamarine;

  &:hover {
    background-color: orange;

    &::after {
      content: " =>";
    }
  }
}

.btn-rounded {
  @extend .btn;
  border-radius: 10px;
  background-color: purple;
}
